doctype html
html
head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    // skip
    // hide
    link(rel='stylesheet', type='text/css', href='css/demo_audio_video_simple.css')
    // Prettify Code
    script(type='text/javascript', src='js/prettify/prettify.js')
    |         
    script(type='text/javascript', src='js/prettify/loadAndFilter.js')
    |         
    script(type='text/javascript', src='js/prettify/jquery.min.js')
    |         
    link(rel='stylesheet', type='text/css', href='js/prettify/prettify.css')
    // show
    // Assumes global locations for socket.io.js and easyrtc.js
    script(src='/socket.io/socket.io.js')
    |         
    script(type='text/javascript', src='/easyrtc/easyrtc.js')
    |         
    script(type='text/javascript', src='js/demo_audio_video_simple.js')
  |     
  body(onload='connect();')
    // hide
    #container
      #main
        // Main Content
        // show
        #demoContainer
          #connectControls
            #iam Not yet connected...
            |                         
            br
            |                         
            strong Connected users:
            |                         
            #otherClients
          |                     
          #videos
            video#selfVideo.easyrtcMirror(autoplay='autoplay', muted='muted', volume='0')
            |                         
            div(style='position:relative;float:left;')
              video#callerVideo(autoplay='autoplay')
            // each caller video needs to be in it's own div so it's close button can be positioned correctly
        // hide
        br(style='clear:both;')
        |                 
        hr
